body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow: hidden; /* Prevent default scrolling behavior */
}

.slider {
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    overflow: hidden; /* Hide scrollbar */
    position: relative;
}

.slide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
    opacity: 0; /* Initially hide all slides */
}

.slide.active {
    opacity: 1; /* Show active slide */
}

#slide1 {
    background-image: url('trang1.png'); /* Hình nền cho slide 1 */
}

#slide2 {
    background-image: url('trang2.png'); /* Hình nền cho slide 2 */
}

#slide3 {
    background-image: url('trang3.png'); /* Hình nền cho slide 3 */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 1000; /* Ensure footer is on top */
}

footer p {
    margin: 5px 0;
}
